.good_container{
    width: 100%;
}

.good_container .good_list ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.good_container .good_list ul li{
    width: 50%;
    height: 12rem;
    padding: 0.5rem;
    padding-bottom: 0;
    
}
.good_container .good_list ul li > div{
   height: 100%;
   width: 100%;
   background: #fff;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   text-align: center;
}
.text_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_container > h4{
    margin-bottom: 3px;
}
.good_container .good_list ul li:nth-of-type(odd){
    padding-right: 0.25rem;
    
}
.good_container .good_list ul li:nth-of-type(even){
    padding-left: 0.25rem;
}
.good_container .good_list ul li img{
    height:70%;
}
.good_container .good_list ul li div span{
   color: #cacaca;
}
.color{
    background-color: #eaeaea;
}