.search_container{
    padding: 0.5rem 0.8rem;
}
.search_content{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #666;
    height: 1.8rem;
}
.search_content > img{
    width: 2rem;
    height: 2rem;
}